<header class="navbar">
    <div class="navitem"><img style="height: 2em;" src="/images/substitute.png" alt="">PokéSQL</div>
    <div class="navEnd">
        <a href="/trainers" class="navitem"><img style="height: 1.3em;" src="/images/overworldtrainer.png" alt=""><div>Trainers</div></a>
        <a href="/pokemon" class="navitem"><img src="/images/pokeball.png" alt=""><div>Pokémon</div></a>
    </div>
</header>