<!DOCTYPE html>
<html>
  <head>
    <title>Error!</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" href="/images/substitute.png">
  </head>

  <body>

    <h1><%= errorMessage %></h1>
  </body>
</html>