<!DOCTYPE html>
<html>
  <head>
    <title>Home | PokéSQL</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" href="/images/substitute.png">
  </head>

  <body>
        <%- include("partials/navbar.ejs") %>


    <div class="homeContainer">
        <h1>Welcome to PokéSQL!</h1>
        <a href="/trainers"><button>See All Trainers</button></a>
        <a href="/pokemon"><button>See All Pokémon</button></a>
    </div>
  </body>
</html>